.CheckBox {
  width: 2rem;
  height: 2rem;
  background-image: url('/src/assets/images/checkbox_unchecked.png');
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.CheckBox:checked {
  background-image: url('/src/assets/images/checkbox_checked.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.Container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: white;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
}

.Content {
  width: 95%;
  display: flex;
  justify-content: center;
}

.Button {
  width: 200px;
  font-size: 1.3rem !important;
}
