.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dateInput {
  outline: none;
  border-style: hidden hidden solid;
  border-color: rgba(0, 0, 0, 0.42);
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.9rem;
  padding: 6px 0 5px;
}

.dateInput:hover {
  border-color: rgba(0, 0, 0, 0.87);
}
