.link {
  color: white;
  font-style: normal;
  text-decoration-line: none;
}

img {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}