@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  src: url('../fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

html {
  font-family: 'Spoqa Han Sans Neo';
}

body {
  margin: 0px;
}

button {
  font-family: 'Spoqa Han Sans Neo';
}

input:focus {
  outline: none;
  border-color: #03d5a3;
}
