.Lookup {
  max-width: 768px;
  height: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .LookupBackground {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

@media (max-width: 768px) {
  .LookupBackground {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

.LookupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2147483647;
}

.LookupLogo {
  width: 50px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.LookupLogoImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.LookupMenu {
  width: 50px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.LookupMenuImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.LookupHeaderTitle {
  font-size: 1.1rem;
  font-weight: bold;
}

.LookupContent {
  top: 60px;
  width: 100%;
}

.LookupInputBox {
  /* margin-top: 10px; */
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.LookupInputs {
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.LookupInputInput {
  border-style: none;
  margin: 0.3rem;
  background-color: #f5f5f5;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo';
}

.LookupInputButtonBox {
  width: 100%;
  height: 1.4rem;
  display: flex;
  justify-content: center;
}

.LookupInputSearchButton {
  background-color: white;
  border-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03d5a3;
  font-size: 1.15rem;
}

.LookupInputSearchImg {
  object-fit: contain;
  box-sizing: border-box;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
}

.LookupNoResultBox {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LookupNoResultContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LookupNoResultImg {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin: 1rem;
}

.LookupNoResultMessage {
  font-size: 1.2rem;
}

.LookupCardsBox {
  margin-top: 1.1rem;
  padding-top: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.LookupCardsHeader {
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.LookupCardsContent {
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
}

.LookupCardBox {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.8rem;
  padding: 0.8rem;
}

.LookupCardContent {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
}

.LookupCardRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.8rem;
}

.LookupCardRowTitle {
  width: 30%;
  font-weight: bold;
}

.LookupCardRowContent {
  width: 70%;
}

.LookupCardButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.LookupCardDeleteButton {
  background-color: #f5f5f5;
  border-style: none;
  cursor: pointer;
  font-size: 1rem;
  color: #888888;
}

.LookupCardUpdateButton {
  background-color: #f5f5f5;
  border-style: none;
  cursor: pointer;
  font-size: 1rem;
  color: #03d5a3;
}

.LookupDeleteModal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
}

.LookupDeleteModalBox {
  padding: 1rem;
}

.LookupDeleteModalHeader {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LookupDeleteModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LookupDeleteModalDeleteButton {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border-style: none;
  margin: 0.2rem;
  background-color: #de2e2e;
  border-radius: 0.3rem;
  color: white;
  max-width: 6rem;
}

.LookupDeleteModalCancelButton {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border-style: none;
  margin: 0.2rem;
  background-color: #b3b3b3;
  border-radius: 0.3rem;
  color: white;
  max-width: 6rem;
}
