.QRMessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.9rem;
}

.QRMessage {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.QRMessageDetail {
  font-size: 0.9rem;
  color: #9b9b9b;
}

.QRContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.QRBox {
  width: 300px;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

.QR {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
