@media (max-width: 768px) {
  .ReserveBackground {
    /* background-color: white; */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

@media (min-width: 768px) {
  .ReserveBackground {
    /* background-color: white; */
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

.ReserveContent {
  top: 60px;
  width: 100%;
}

.Reserve {
  max-width: 768px;
  min-width: 300px;
  box-sizing: border-box;
  margin: auto;
}

.ReserveHeaderTitle {
  font-size: 1.1rem;
  font-weight: bold;
}

.ReserveBox {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0px 5px 0.3px rgb(213, 213, 213);
  background-color: white;
}

.ReserveBoxTitle {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.ReservePlaceContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ReservePlaceInputBox {
  width: 100%;
  display: flex;
  align-items: center;
}

.ReservePlaceInput {
  margin: 0.3rem;
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url('../images/radio_button_unchecked.png');
  background-size: 100%;
}

.ReservePlaceInput:checked {
  margin: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url('../images/radio_button_checked.png');
  background-size: 100%;
}

.ReserveInputBox {
  justify-content: space-between;
  width: 100%;
  background-color: #f6f6f6;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
}

.ReservePlaceInputButton {
  background-color: white;
  border-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
  font-size: 1rem;
}

.ReserveDatePicker {
  display: none;
}

.ReserveDatePickerBox {
  display: flex;
  align-items: center;
}

.ReserveDatePickerBox input {
  background-color: #f6f6f6;
  border-style: none;
  color: #000000;
  font-size: 1rem;
}

.ReserveDatePickerImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ReserveDatePickerButton {
  appearance: none;
  border-style: none;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
}

.ReserveDatePickerDate {
  font-size: 1rem;
}

.ReserveInput {
  border-style: none;
  background-color: #f6f6f6;
  width: 100%;
  font-size: 1.05rem;
}

.ReservePolicyTitle {
  display: flex;
  flex-direction: column;
}

.ReservePolicyLink {
  color: #03d5a3;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: normal;
  cursor: pointer;
  width: 4rem;
}

.ReservePolicyLink:visited {
  color: #03d5a3;
}

.ReserveSubmitBox {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 15px;
}

.ReserveSubmitButton {
  margin: 0px;
  width: 100%;
  height: 40px;
  background-color: #03d5a3;
  border-style: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  box-sizing: border-box;
  box-shadow: 0 0px 11px 0.3px rgb(225, 225, 225);
}

.ReserveSubmitButton:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

.ReserveVisitorButton {
  background: white;
  border-color: #e7e7e7;
  border-style: solid;
  color: #03d5a3;
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 5px;
  border-width: 0.5px;
  cursor: pointer;
}

.ReserveVisitorBox {
  margin-bottom: 10px;
}

.ReserveVisitorBoxTitle {
  display: flex;
  justify-content: space-between;
}

.ReserveVisitorInfoBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  height: 20px;
}

.ReserveVisitorInfoTitle {
  font-weight: bold;
  font-size: 0.9rem;
  width: 35%;
}

.ReserveVisitorInfoValue {
  width: 65%;
}

.ReserveVistiorNumber {
  font-weight: normal;
}

.ReserveVisitorInputButtons {
  display: flex;
  justify-content: flex-end;
}

.ReserveVistiorDeleteButton {
  background-color: #f6f6f6;
  border-style: none;
  font-size: 1.05rem;
  color: #b5b5b5;
  cursor: pointer;
}

.ReserveVistiorUpdateButton {
  background-color: #f6f6f6;
  border-style: none;
  font-size: 1.05rem;
  color: #03d5a3;
  cursor: pointer;
}

.ReserveVistiorInsertButton {
  background-color: #f6f6f6;
  border-style: none;
  font-size: 1.05rem;
  color: #03d5a3;
  cursor: pointer;
}

.ReserveVisitorInput {
  background-color: white;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.05rem;
}

.ReserveVisitorInput::placeholder {
  font-size: 1rem;
  color: #bababa;
}

.ReserveModalBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  max-height: 800px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1rem;
}

@media (max-width: 768px) {
  .ResultModal {
    width: 70vw;
    height: 30vh;
  }
}

@media (min-width: 768px) {
  .ResultModal {
    inset: auto;
  }
}

.ResultModal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.7rem;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1rem;
}

.ResultModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
}

.ResultModalButton {
  border-style: none;
  background-color: #03d5a3;
  color: white;
  margin: 1rem;
  width: 8rem;
  height: 2.3rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.ReservePolicyDetailHeader {
  margin-bottom: 0.7rem;
}

.ReservePolicyDetailContent {
  height: 50vh;
  overflow-y: scroll;
  border-style: solid;
  border-color: #c6c6c6;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 1rem;
}

.ReservePolicyCheckBox {
  appearance: none;
  background-image: url('../images/checkbox_unchecked.png');
  background-size: 100%;
  width: 1.7rem;
  height: 1.7rem;
}

.ReservePolicyCheckBox:checked {
  appearance: none;
  background-image: url('../images/checkbox_checked.png');
  background-size: 100%;
  width: 1.7rem;
  height: 1.7rem;
}

.ReservePolicyCheckButton {
  appearance: none;
  border-style: none;
  background-color: white;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0px;
}

.ReserveInputSelect {
  appearance: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border-style: none;
  background-color: #f6f6f6;
}

.ReserveInputPurpose {
  margin-top: 1rem;
}

.ReserveError {
  font-size: 0.7rem;
  color: red;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.ReserveStar {
  color: red;
}

.ReservePolicyDetailDiv {
  min-height: 1rem;
}

.ReservePolicyDetailHeader {
  font-size: 1.5rem;
  font-style: bold;
}

.ReservePolicyDetailButton {
  appearance: none;
  border-style: none;
  background-color: #03d5a3;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.4rem;
}

.ReservePolicyDetailFooter {
  padding-top: 0.7rem;
}
