.navigation {
	height: 100vh;
	width: 100%;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.applicationBox {
	margin-bottom: 0.5vh;
	display: flex;
	flex-direction: column;
}

.applicationBtns {
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
}