.react-datepicker__time-list-item--selected {
  background-color: #03d5a3 !important;
}

.react-datepicker__day--selected {
  background-color: #03d5a3 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: grey !important;
  color: white !important;
}

.datepicker__sun {
  color: red;
}

.datepicker__sat {
  color: blue;
}

.react-datepicker__day--disabled {
  color: silver !important;
}

.react-datepicker__navigation-icon--next {
  background-image: url('../../images/icon_right_arrow.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.react-datepicker__navigation-icon--previous {
  background-image: url('../../images/icon_left_arrow.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.react-datepicker__navigation-icon--next::before {
  transform: rotate(0deg) !important;
  left: 0 !important;
}

.react-datepicker__navigation-icon::before {
  border-style: none !important;
}
