.Header {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2147483647;
  box-sizing: border-box;

  /* 드래그를 막는 옵션 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Content {
  padding: 10px 10px 10px 10px;
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.LogoBox {
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.LogoImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.TitleBox {
  display: flex;
  box-sizing: border-box;
}

.Title {
  margin-right: 1rem;
  box-sizing: border-box;
  color: #a9a9a9;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.selected {
  color: black;
}
