.SubmitButton {
  margin: 0px;
  width: 100%;
  height: 40px;
  background-color: var(--green-color);
  border-style: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  box-sizing: border-box;
}

.SubmitButton:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}
