.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AddButton {
  background: white;
  border-color: #e7e7e7;
  border-style: solid;
  color: var(--green-color);
  width: 100%;
  padding: 0.7rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border-width: 0.1rem;
  cursor: pointer;
}

.InputBox {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.ValueBox {
  width: 65%;
  height: 2rem;
  display: flex;
  align-items: center;
}

.Input {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.Input:disabled {
  opacity: 0.3;
}

.Input::placeholder {
  font-size: 0.9rem;
  color: grey;
}

.InputButtonBox {
  display: flex;
  justify-content: flex-end;
}

.Button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.DeleteButton {
  color: #b5b5b5;
}

.UpdateButton {
  color: var(--green-color);
}

.InsertButton {
  color: var(--green-color);
}

.RepresentationCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RepresentationCheck h6 {
  margin: 0px;
  font-size: 0.9rem;
}

.RepresentationCheck input {
  width: 1.7rem;
  height: 1.7rem;
  min-width: 1.7rem;
  min-height: 1.7rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/assets/images/checkbox_unchecked.png');
}

.RepresentationCheck input:checked {
  width: 1.7rem;
  height: 1.7rem;
  min-width: 1.7rem;
  min-height: 1.7rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/src/assets/images/checkbox_checked.png');
}