.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AddVisitorButton {
  background: white;
  border-color: #e7e7e7;
  border-style: solid;
  color: #03d5a3;
  width: 100%;
  padding: 0.7rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border-width: 0.1rem;
  cursor: pointer;
}

.InputBox {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.ValueBox {
  width: 65%;
  height: 2rem;
}

.Input {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.Input::placeholder {
  font-size: 0.9rem;
  color: grey;
}

.InputButtonBox {
  display: flex;
  justify-content: flex-end;
}

.Button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.DeleteButton {
  color: #b5b5b5;
}

.UpdateButton {
  color: #03d5a3;
}

.InsertButton {
  color: #03d5a3;
}
