.CheckButton {
  appearance: none;
  border-style: none;
  background-color: white;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.CheckBox {
  appearance: none;
  background-image: url('../../images/checkbox_unchecked.png');
  background-size: 100%;
  width: 1.7rem;
  height: 1.7rem;
}

.CheckBox:checked {
  appearance: none;
  background-image: url('../../images/checkbox_checked.png');
  background-size: 100%;
  width: 1.7rem;
  height: 1.7rem;
}

.Link {
  color: var(--green-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: normal;
  cursor: pointer;
  width: 4rem;
}

.Link:visited {
  color: var(--green-color);
}
