:root {
  --basic-font: 'Spoqa Han Sans Neo', Arial, Helvetica, sans-serif;
  --green-color: #03d5a3;
}

@font-face {
  font-family: var(--basic-font);
  font-weight: 200;
  src: url('../fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: var(--basic-font);
  font-weight: 300;
  src: url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: var(--basic-font);
  font-weight: 400;
  src: url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: var(--basic-font);
  src: url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: var(--basic-font);
  font-weight: 500;
  src: url('../fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: var(--basic-font);
  font-weight: bold;
  src: url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

html {
  font-family: var(--basic-font);
}

body {
  margin: 0px;
}

button {
  font-family: var(--basic-font);
  cursor: pointer;
}

input:focus,
div:focus,
label:focus,
select:focus {
  outline: none;
}

button,
select {
  color: black;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  border-width: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:checked {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  border-width: 0;
}

body {
  background-color: #f6f6f6;
  overflow: overlay;
}

.BlockScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
