@media (max-width: 768px) {
  .ReserveBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

@media (min-width: 768px) {
  .ReserveBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
  }
}

.ReserveContent {
  top: 60px;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.7rem;
}

.Reserve {
  max-width: 768px;
  min-width: 300px;
  box-sizing: border-box;
  margin: auto;
}

.ReserveHeaderTitle {
  font-size: 1.1rem;
  font-weight: bold;
}

.ReserveError {
  font-size: 0.7rem;
  color: red;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.ReserveStar {
  color: red;
}
